* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

$red: hsl(0, 100%, 74%);
$green: hsl(154, 59%, 51%);
$blue: hsl(248, 32%, 49%);
$dark-blue: hsl(249, 10%, 26%);
$grey-blue: hsl(246, 25%, 77%);
$white: #fff;

html {
  font-size: 62.5%;

  @media only screen and (min-width: 2350px) {
    font-size: 92.5%;
  }

  @media only screen and (max-width: 2300px) {
    font-size: 82.5%;
  }

  @media only screen and (max-width: 2050px) {
    font-size: 72.5%;
  }

  @media only screen and (max-width: 1850px) {
    font-size: 62.5%;
  }

  @media only screen and (max-width: 1450px) {
    font-size: 52.5%;
  }

  @media only screen and (max-width: 1250px) {
    font-size: 42.5%;
  }

  @media only screen and (max-width: 1050px) {
    font-size: 32.5%;
  }
}

body {
  background: url("../images/bg-intro-desktop.png"), hsl(0, 100%, 74%);
  background-size: cover;
  font-family: "Poppins", sans-serif;
}

.header-primary {
  font-size: 6rem;
  font-weight: 700;
  color: $white;
  line-height: 7rem;

  @media only screen and (max-width: 900px) {
    padding-top: 5rem;
  }
}

.paragraph {
  font-size: 1.5rem;
  font-weight: 400;
  color: $white;
  width: 80%;
  margin-top: 5rem;

  @media only screen and (max-width: 900px) {
    margin: auto;
    padding: 5rem 0 10vh 0;
  }
}

.page {
  width: 80vw;
  height: 90vh;
  display: grid;
  margin: 5vh auto;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 5rem;
  align-items: center;

  @media only screen and (max-width: 900px) {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(2, 1fr);
    text-align: center;
    row-gap: 5rem;
    height: 70vh;
    width: 50vw;
  }

  @media only screen and (max-width: 600px) {
    width: 80vw;
  }
}

.component {
  &__trial-box {
    width: 100%;
    text-align: center;
    background-color: $blue;
    padding: 3rem;
    border-radius: 10px;
    box-shadow: 0 1rem 0 rgba(0, 0, 0, 0.1);
    margin-bottom: 5rem;

    &-text {
      color: $white;
      font-size: 2rem;
      font-weight: 400;

      &-bold {
        font-weight: 600;
      }
    }
  }

  &__form {
    padding: 4rem 0 2rem 0;
    background-color: $white;
    border-radius: 10px;
    width: 100%;
    box-shadow: 0 1rem 0 rgba(0, 0, 0, 0.1);

    &__email {
      position: relative;
    }

    &__input {
      display: block;
      width: 85%;
      margin: 2rem auto;
      padding: 2rem 3rem;
      border: 2px solid rgba($dark-blue, 0.2);
      border-radius: 10px;
      font-family: "Poppins", sans-serif;
      font-size: 1.5rem;
      font-weight: 600;
      color: $dark-blue;
      transition: all 0.5s ease;

      &-error {
        width: 3rem;
        height: 3rem;
        position: absolute;
        bottom: 50%;
        left: 1%;
        transform: translateY(50%);
        opacity: 0;
        transition: all 0.3s ease;
      }
    }

    &__input[type="email"]:invalid {
      box-shadow: none;
    }

    &__input:focus {
      border: 2px solid rgba($dark-blue, 0.5);
    }

    &__button {
      display: block;
      width: 85%;
      margin: 3vh auto;
      padding: 2rem 3rem;
      border: 3px solid rgba($dark-blue, 0.2);
      border-radius: 10px;
      font-family: "Poppins", sans-serif;
      font-size: 1.7rem;
      font-weight: 600;
      text-transform: uppercase;
      letter-spacing: 0.3rem;
      color: $white;
      background-color: $green;
      cursor: pointer;
    }

    &__paragraph {
      font-size: 1.2rem;
      text-align: center;
      color: rgba($dark-blue, 0.5);

      &-anchor {
        color: $red;
        text-decoration: none;
      }
    }

    @media only screen and (max-width: 900px) {
      margin-bottom: 10rem;
    }
  }
}
